div{
  height: 50px;
  border: 1px solid #000;
  margin-bottom: 10px;
  text-align: center;
  width: 75%;
}

p {
  font-family: Helvetica;
}

.half {
}

.full{
}

@media (max-width: 400px){
  div{
    background-color: green;
  }

}
